* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header, .description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transform: translateY(40vh);
  font-size: 2em;
}
