@import "_variables";
@import "_normalize";

@mixin card-hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

@mixin button-reset {
  padding: 0;
  border: 1px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $description-font-family;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: $default-color;
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

body {
  max-width: 1200px;
  margin: 0 auto;

  .logo {
    display: block;
    margin: 0 auto;
    max-width: 60%;
  }

  .btn {
    @include button-reset;
    display: flex;
    text-decoration: none;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transform: translate(1000px, -390px);
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-image: -webkit-radial-gradient(circle at 30px 250px, #acacac, #000);
    background-image: radial-gradient(circle at 30px 250px, #acacac, #000);
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto;

    .card {
      display: flex;
      margin: 1rem;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 2px 4px 25px rgba(255, 255, 255, 0.3);
      border-radius: 12px;
      overflow: hidden;
      top: 100%;
      transition: all 0.2s linear;
      cursor: pointer;
      transform-origin: 50% 100%;
      transform: perspective(350px) rotateX(20deg);

      &:hover {
        @include card-hover;
      }

      &:after {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 60%;
        background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
        pointer-events: none;
      }

      &:last-child {
        flex: 0 1 33.33%;
      }

      &__header {
        display: flex;
        position: absolute;
        justify-content: center;
        font-family: $sw-font-family;
        text-shadow: 2px 2px 3px #aaa;
        text-align: center;
        padding: 1em 4.5em;
        background-image: linear-gradient(120deg, #444444 0%, #000000 100%);
        margin: 0 0 2rem 0;
        font-size: 1.5rem;
        color: $font-color;
        z-index: 1;

        &-description {
          position: relative;
          font-family: $description-font-family;
          padding: 2.5rem 2.5rem;
          margin-top: 8em;
          color: $font-color;
          top: 100%;
          z-index: -999;
        }

        &-description:hover {
          @include card-hover;
          animation: scroll 120s linear 0.1s infinite;
        }

        @keyframes scroll {
          0% {
            top: 0;
            transform: rotateX(25deg) translateZ(0);
          }
          100% {
            top: -1000px;
            transform: rotateX(20deg) translateZ(1000px);
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: $description-font-family;
  margin: 2%;

  & a {
    text-decoration: none;
    color: $default-color;

    &:hover {
      text-align: center;
      background: linear-gradient(to left, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
      background-size: 200% auto;
      color: #000;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 0.5s linear infinite;
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);

    &:last-child {
      flex: 0 1 33.33%;
      flex-shrink: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);

    &:last-child {
      flex: 0 1 33.33%;
      flex-shrink: 0;
    }
  }

  $sw-font-family: "Star Jedi", arial;
  $description-font-family: "Open Sans Condensed", sans-serif;
  $font-color: rgb(229, 255, 0);
  $default-color: #666;

  @mixin card-hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
    transform: translate3D(0, -2px, 0);
  }

  @mixin button-reset {
    padding: 0;
    border: 1px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $description-font-family;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    color: $default-color;
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  }

  body {
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      display: block;
      margin: 0 auto;
      max-width: 60%;
    }

    .btn {
      @include button-reset;
      display: flex;
      text-decoration: none;
      position: absolute;
      color: #fff;
      width: 120px;
      height: 120px;
      line-height: 120px;
      border-radius: 50%;
      transform: translate(400%, -150%);
      top: 25vh;
      justify-content: center;
      align-content: center;
      white-space: nowrap;
      overflow: hidden;
      background-image: -webkit-radial-gradient(circle at 30px 250px, #acacac, #000);
      background-image: radial-gradient(circle at 30px 250px, #acacac, #000);
    }

    .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0 auto;

      .card {
        display: flex;
        margin: 1rem;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 4px 25px rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        overflow: hidden;
        top: 100%;
        transition: all 0.2s linear;
        cursor: pointer;
        transform-origin: 50% 100%;
        transform: perspective(350px) rotateX(20deg);

        &:hover {
          @include card-hover;
        }

        &:after {
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 60%;
          background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
          pointer-events: none;
        }

        &:last-child {
          flex: 0 1 33.33%;
        }

        &__header {
          display: flex;
          position: absolute;
          justify-content: center;
          font-family: $sw-font-family;
          text-shadow: 2px 2px 3px #aaa;
          text-align: center;
          padding: 1em 4.5em;
          background-image: linear-gradient(120deg, #444444 0%, #000000 100%);
          margin: 0 0 2rem 0;
          font-size: 1.5rem;
          color: $font-color;
          z-index: 1;

          &-description {
            position: relative;
            font-family: $description-font-family;
            padding: 2.5rem 2.5rem;
            margin-top: 8em;
            color: $font-color;
            top: 100%;
            z-index: -999;
          }

          &-description:hover {
            @include card-hover;
            animation: scroll 120s linear 0.1s infinite;
          }

          @keyframes scroll {
            0% {
              top: 0;
              transform: rotateX(25deg) translateZ(0);
            }
            100% {
              top: -1000px;
              transform: rotateX(20deg) translateZ(1000px);
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $description-font-family;
    margin: 2%;

    & a {
      text-decoration: none;
      color: $default-color;

      &:hover {
        text-align: center;
        background: linear-gradient(to left, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
        background-size: 200% auto;
        color: #000;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 0.5s linear infinite;
      }
    }

    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);

      &:last-child {
        flex: 0 1 33.33%;
        flex-shrink: 0;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);

      &:last-child {
        flex: 0 1 33.33%;
        flex-shrink: 0;
      }
    }
  }
}
